@import url('https://fonts.googleapis.com/css?family=Raleway');

.is-icon {
    font-size: 72px;
    color: #2d3142;
}

.has-large-margin-top {
    margin-top: 48px !important;
}

.has-margin-top {
    margin-top: 16px !important;
}

.has-margin-bottom {
    margin-bottom: 16px !important;
}

/*start colours*/
.hero, .section, .inverted-button {
    background-color: #333333;
}

.content, .title, .subtitle, .hero, .section, .navbar, .inverted-button {
    color: #e6e8e6;
}

.dark-section, .navbar {
    background-color: #e6e8e6;
}

.footer, .content-inverted {
    background-color: #e6e8e6;
    color: #333333;
}

strong {
    color: #333333;
    font-weight: bold;
}

.twitter-hover:hover, .navbar-burger:hover {
    background-color: #dbdbdb !important;
}

.under-shadow {
    box-shadow: 0 1px 0 #DBDBDB !important;
}

/*end colours*/

.button {
    box-shadow: 0 3px 5px rgba(30, 50, 49, .4);
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 0;
}

.inverted-button {
    box-shadow: 0 3px 8px rgba(46, 53, 50, 0.2);
    border-radius: 10px;
}

.wide-button {
    padding-left: 32px;
    padding-right: 32px;
    text-transform: uppercase;
}

.disabled-nav {
    pointer-events: none;
    text-decoration: line-through;
}

.centred-img {
    vertical-align: middle;
    width: 50px;
    height: 30px;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*Page styles*/
html {
    height: 100%;
}

.boxes {
    margin: auto;
    padding: 50px;
}

/*Checkboxes styles*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #312c32;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #312c32;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tlt-container {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d3142;
}

.game-container {

}
